@keyframes showUp {
    0% {
        top: -50%;
    }
    30% {
        top: 150%;
    }
    31% {
        opacity: 0;
    }
    32% {
        top: -50%;
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    80% {
        top: 150%;
    }
    81% {
        opacity: 0;
    }
    82% {
        top: -50%;
        opacity: 1;
    }
    100% {
        top: 50%;
    }
    
}

@keyframes gameShowUp {
    0% {
        top: 80%;
    }
    20% {
        top: 40%;
    }
    100% {
        top: 50%;
    }
}